
  <div class="container-fluid bg-dark">
    <footer class="py-5 mt-5 border-top d-flex justify-content-evenly">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-muted">© 2021</p>
      </div>
  
      <div class="col">
  
      </div>
  
      <div class="col text-white text-end  " style="margin-right:5px; ">
        <h5>Section</h5>
        <ul class="nav flex-column text-white ">
          <li class="nav-item mb-2"><a href="{% url 'main:home' %}" class="nav-link p-0 text-effect">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-effect">Post's</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-effect">About</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-effect">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-effect">Contact us</a></li>
        </ul>
      </div>
  
      
    </footer>
  </div>

